.country_informations {
    margin-top: 20px;
    background-color: #333;
    padding: 1rem;

    .country_name {
        font-size: 2rem;
        border-bottom: 1px solid #7bceff;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    .box {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        .title {
            font-size: 1.5rem;
            color: #7bceff;
        }

        .body {
            font-size: 1.2rem;
        }
        
        img {
            border-radius: 2rem;
            width: 100%;
            max-width: 300px;
            align-self: center;
        }
    }
}